/* good code */
.profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* row-gap: 75px; */
}
.profile {
    padding: 25px;
    border: 5px solid black;
    margin: 25px 25px;
}
.profile img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* questionable code */

/* Set the navbar to fixed position */
/* .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  #main {
    margin-top: 100px;
  } */



/* skip to nav */
.skip {
    background: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    position: absolute;
    left: 0.5rem;
    transform: translateY(-120%);
    transition: transform 325ms ease-in;
}

.skip:focus {
    transform: translateY(0%);
}

/* menu flex */
.menu-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.menu {
    padding: 25px;
    margin: 75px 25px;
}

.menu img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.menu p {
    border: 5px solid black;
    padding: 25px;
}

html{
    scroll-behavior: smooth;
  }

body{
    background-color: #964B00;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
  }
  
/* create grid */
.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
}

/* add the background image to the first div in the grid  and place it in the grid. */

.container:first-child {
  grid-column: 1 / span 3;
}

.overview{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: white;
    height: 400px;                /* Parallax effect */
  }
  
.overview h1{
    margin-top: 75px;
}
.overview p{
    color: white;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
  }

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}
  

.navbar ul{
    list-style: none;
    background: #663366;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li{
    display: inline-block;
    margin: 10px 20px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover, a:focus{
    background: orange;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
  }
  
  /* Step 5: Write selector/rule property to add the background image to the 
  first div in the grid  and place it in the grid. */
  
  .container:first-child {
    grid-column: 1 / span 3;
  }
  .container div:first-child {
    grid-column: 1 / -1;
    background-attachment: fixed; 
    background-image: url("../images/tavern_placeholder.jpeg");
    background-repeat: no-repeat;
  }

/* about page */
h1 {
    text-align: center;
    padding: 15px;
    font-size: 42px;
}
h2 {
    color: #0D0D0D;
    font-size: 30px;
}
p {
    color: #C4C4C4;
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
@media screen and (min-width: 900px) {
  
}
/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border: 10px solid black;
} */

/* .details{
    margin-left: 8%;

}

.summary{
    margin-left: 8%;
} */
/* nav {
    padding: 10px;
  }
  
nav a:hover, a:focus{
    color: #50C7C7;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
} */
  